body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.top-left {
	height: 36%;
	width: 36%;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

.middle-right {
	height: 36%;
	width: 36%;
	margin-top: 15px;
	margin-left: 15px;
	float: right;
}
